<html>
  <head>
    <title>Sites Review</title>
  </head>
  <body>
    <h1>Directory</h1>
    <ul>
      <li>
        <a href="https://certportal-{{.ReviewSlugWithDomain}}">Certportal</a>
      </li>
      <li>
        <a href="https://directory-{{.ReviewSlugWithDomain}}">Directory</a>
      </li>
      <li>
        <a href="https://docs-{{.ReviewSlugWithDomain}}">Docs</a>
      </li>
    </ul>

    <h1>Gemeente Stijns</h1>
    <ul>
      <li>
        <a href="https://nlx-management-gemeente-stijns-{{.ReviewSlugWithDomain}}">NLX Management</a>
      </li>
      <li>
        <a href="https://nlx-vp-ui-gemeente-stijns-{{.ReviewSlugWithDomain}}">Video Player</a>
      </li>
      <li>
        <a href="https://nlx-ws-chat-ui-gemeente-stijns-{{.ReviewSlugWithDomain}}">Web Sockets Chat</a>
      </li>
      <li>
        <a href="https://nlx-mc-ui-gemeente-stijns-{{.ReviewSlugWithDomain}}">Manage Citizens</a>
      </li>
      <li>
        <a href="https://nlx-outway-gemeente-stijns-{{.ReviewSlugWithDomain}}">Outway</a>
      </li>
      <li>
        <a href="https://nlx-outway-2-gemeente-stijns-{{.ReviewSlugWithDomain}}">Outway 2</a>
      </li>
    </ul>

    <h1>Gemeente Riemer</h1>
    <ul>
        <li>
            <a href="https://nlx-management-gemeente-riemer-{{.ReviewSlugWithDomain}}">NLX Management</a>
        </li>
        <li>
            <a href="https://nlx-mc-ui-gemeente-riemer-{{.ReviewSlugWithDomain}}">Manage Citizens</a>
        </li>
    </ul>

    <h1>Rijksdienst voor Realistische Demo's</h1>
    <ul>
      <li>
        <a href="https://nlx-management-rvrd-{{.ReviewSlugWithDomain}}">NLX Management</a>
      </li>
    </ul>

    <h1>Vergunningsoftware BV</h1>
    <ul>
      <li>
        <a href="https://nlx-management-vgs-bv-{{.ReviewSlugWithDomain}}">NLX Management</a>
      </li>
      <li>
          <a href="https://nlx-pa-vgs-bv-{{.ReviewSlugWithDomain}}">Parkeerrechten Admin</a>
      </li>
      <li>
          <a href="https://nlx-outway-vgs-bv-{{.ReviewSlugWithDomain}}">Outway</a>
      </li>
    </ul>
  </body>
</html>
