<html>
  <head>
    <title>Sites {{.EnvironmentSubdomain}}</title>
  </head>
  <body>
    <h1>Directory</h1>
    <ul>
      <li>
          <a href="https://certportal.{{.EnvironmentSubdomain}}.nlx.io">Certportal</a>
      </li>
      <li>
          <a href="https://directory.{{.EnvironmentSubdomain}}.nlx.io">Directory</a>
      </li>
      <li>
          <a href="https://docs.{{.EnvironmentSubdomain}}.nlx.io">Docs</a>
      </li>
    </ul>

    <h1>Gemeente Stijns</h1>
    <ul>
      <li>
          <a href="https://management.{{.EnvironmentSubdomain}}.gemeentestijns.nl">NLX Management</a>
      </li>
      <li>
        <a href="https://parkeerrechten-viewer.{{.EnvironmentSubdomain}}.gemeentestijns.nl">Parkeerrechten viewer</a>
      </li>
      <li>
        <a href="https://video-player-ui.{{.EnvironmentSubdomain}}.gemeentestijns.nl">Video Player</a>
      </li>
      <li>
        <a href="https://websockets-chat-ui.{{.EnvironmentSubdomain}}.gemeentestijns.nl">Web Sockets Chat</a>
      </li>
      <li>
        <a href="https://manage-citizens.{{.EnvironmentSubdomain}}.gemeentestijns.nl">Manage Citizens</a>
      </li>
      <li>
          <a href="https://outway.{{.EnvironmentSubdomain}}.gemeentestijns.nl">Outway</a>
      </li>
      <li>
          <a href="https://outway-2.{{.EnvironmentSubdomain}}.gemeentestijns.nl">Outway 2</a>
      </li>
    </ul>

    <h1>Gemeente Riemer</h1>
    <ul>
        <li>
            <a href="https://management.{{.EnvironmentSubdomain}}.gemeenteriemer.nl">NLX Management</a>
        </li>
        <li>
            <a href="https://manage-citizens.{{.EnvironmentSubdomain}}.gemeenteriemer.nl">Manage Citizens</a>
        </li>
    </ul>

    <h1>Rijksdienst voor Realistische Demo's</h1>
    <ul>
      <li>
        <a href="https://management.{{.EnvironmentSubdomain}}.rvrd.nl">NLX Management</a>
      </li>
    </ul>

    <h1>Vergunningsoftware BV</h1>
    <ul>
      <li>
          <a href="https://management.{{.EnvironmentSubdomain}}.vergunningsoftware.nl">NLX Management</a>
      </li>
      <li>
          <a href="https://parkeerrechten-admin.{{.EnvironmentSubdomain}}.vergunningsoftware.nl">Parkeerrechten admin</a>
      </li>
      <li>
          <a href="https://outway.{{.EnvironmentSubdomain}}.vergunningsoftware.nl">Outway</a>
      </li>
    </ul>
  </body>
</html>
